node-red-flows/Node-RED_Config_MySQL_Setup_Final.txt
[{"id":"f4b1f973.cb2ec8","type":"inject","z":"c71bc4a5.bc0478","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":263,"y":201.00000286102295,"wires":[["c4b91334.f849f"]]},{"id":"c4b91334.f849f","type":"function","z":"c71bc4a5.bc0478","name":"Create MySQL 'notes' Table","func":"msg.topic = \"CREATE TABLE notes (id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY, item VARCHAR(255), category VARCHAR(255), created_at timestamp default current_timestamp NOT NULL)\"\n\nreturn msg;","outputs":1,"noerr":0,"x":503,"y":201.00000286102295,"wires":[["83b97d67.df64a"]]},{"id":"83b97d67.df64a","type":"mysql","z":"c71bc4a5.bc0478","mydb":"f1dc3426.b079b8","name":"Connect to MySQL DB","x":783,"y":201.00000286102295,"wires":[[]]},{"id":"40e91010.91d2e","type":"inject","z":"c71bc4a5.bc0478","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":263,"y":261.00000286102295,"wires":[["cea3881c.186608"]]},{"id":"cea3881c.186608","type":"function","z":"c71bc4a5.bc0478","name":"Create MySQL 'songs' Table","func":"msg.topic = \"CREATE TABLE songs (id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), artist VARCHAR(255), path VARCHAR(255), thumbnail VARCHAR(255), video_id VARCHAR(255), created_at timestamp default current_timestamp NOT NULL)\"\n\nreturn msg;","outputs":1,"noerr":0,"x":503,"y":261.00000286102295,"wires":[["2aeeeea6.958aa2"]]},{"id":"2aeeeea6.958aa2","type":"mysql","z":"c71bc4a5.bc0478","mydb":"f1dc3426.b079b8","name":"Connect to MySQL DB","x":783,"y":261.00000286102295,"wires":[[]]},{"id":"f1dc3426.b079b8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"ep0403","tz":""}]