node-red-flows/Node-RED_Config_Main_Program_Final.txt
[{"id":"447e7ee3.2730b","type":"ui_chart","z":"4eb87a0f.8ef374","name":"","group":"2281cc26.c67534","order":2,"width":"6","height":"4","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":691,"y":109,"wires":[[],[]]},{"id":"f897894e.209068","type":"thingspeak42","z":"4eb87a0f.8ef374","name":"IOTP Test Channel","delay":"15","topic1":"Temperature","topic2":"Humidity","topic3":"","topic4":"","topic5":"","topic6":"","topic7":"","topic8":"","endpoint":"https://thingspeak.com/","x":471,"y":89,"wires":[]},{"id":"39c9250b.0750aa","type":"inject","z":"4eb87a0f.8ef374","name":"Every 20 secs","topic":"","payloadType":"date","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":141,"y":229,"wires":[["343ceb01.afba14"]]},{"id":"c3acce06.2058f","type":"debug","z":"4eb87a0f.8ef374","name":"Send 'Temperature' to Debug Window","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":771,"y":189,"wires":[]},{"id":"aa6902a0.6ec05","type":"debug","z":"4eb87a0f.8ef374","name":"Send 'Humidity' to Debug Window","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":761,"y":329,"wires":[]},{"id":"e0f89512.99e258","type":"function","z":"4eb87a0f.8ef374","name":"Extract 'Humidity'","func":"msg.payload = msg.humidity;\n\nreturn msg;","outputs":1,"noerr":0,"x":471,"y":329,"wires":[["aa6902a0.6ec05","e8550450.340668","b3a0790.5805b88","9c250cac.0ec64"]]},{"id":"e8550450.340668","type":"ui_chart","z":"4eb87a0f.8ef374","name":"","group":"2281cc26.c67534","order":1,"width":"6","height":"4","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":681,"y":249,"wires":[[],[]]},{"id":"b3a0790.5805b88","type":"ui_gauge","z":"4eb87a0f.8ef374","name":"","group":"22d23c2f.45d7f4","order":2,"width":"6","height":"4","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":"40","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":681,"y":289,"wires":[]},{"id":"c2ca1a43.880638","type":"function","z":"4eb87a0f.8ef374","name":"Prepare Readings","func":"var temp = {\n    topic: \"Temperature\",\n    payload: msg.payload\n};\n\nvar humi = {\n    topic: \"Humidity\",\n    payload: msg.humidity\n};\n\nreturn [[temp, humi]];","outputs":1,"noerr":0,"x":271,"y":89,"wires":[["f897894e.209068"]]},{"id":"9c250cac.0ec64","type":"switch","z":"4eb87a0f.8ef374","name":"If humidity exceeds threshold...","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":471,"y":409,"wires":[["85fc6bb6.a0a7a8"]]},{"id":"85fc6bb6.a0a7a8","type":"function","z":"4eb87a0f.8ef374","name":"Draft Email","func":"msg.topic = \"Humidity Value Alert\";\nmsg.payload = \"Humidity has exceeded 50%!\";\n\nreturn msg;","outputs":1,"noerr":0,"x":691,"y":409,"wires":[["92e0f516.e05c88"]]},{"id":"92e0f516.e05c88","type":"trigger","z":"4eb87a0f.8ef374","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"1","extend":false,"units":"hr","reset":"","bytopic":"all","name":"No Spam (1h delay)","x":881,"y":409,"wires":[["9803bdf2.a0777"]]},{"id":"f3ff45c9.d3a238","type":"inject","z":"4eb87a0f.8ef374","name":"","topic":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":541,"y":469,"wires":[["85fc6bb6.a0a7a8"]]},{"id":"9803bdf2.a0777","type":"e-mail","z":"4eb87a0f.8ef374","server":"smtp.gmail.com","port":"465","secure":true,"name":"ngdavid6@gmail.com","dname":"Send to email","x":1081,"y":409,"wires":[]},{"id":"98c2efe6.e3811","type":"mqtt in","z":"4eb87a0f.8ef374","name":"Turn on/off LED using MQTT","topic":"house/livingroom/lights-1","qos":"2","broker":"c05f5380.58e8","x":161,"y":1009,"wires":[["d76ab627.fb63f8","b29da971.2476b8","bd34b3b7.d05a4"]]},{"id":"41d68482.edd71c","type":"mqtt in","z":"4eb87a0f.8ef374","name":"Grab user's notes via MQTT","topic":"user/notes/to-node-red","qos":"2","broker":"c05f5380.58e8","x":160.99998474121094,"y":649.0000085830688,"wires":[["c0191c32.5a1e7","3280945c.ffc3cc"]]},{"id":"c0191c32.5a1e7","type":"debug","z":"4eb87a0f.8ef374","name":"Show raw notes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":380.99998474121094,"y":609.0000085830688,"wires":[]},{"id":"49aaf0b.a65421","type":"function","z":"4eb87a0f.8ef374","name":"Separate Notes","func":"msg.note = msg.payload.note;\nmsg.category = msg.payload.category;\n\nreturn msg;","outputs":1,"noerr":0,"x":600.9999847412109,"y":689.0000085830688,"wires":[["8e53deee.b21c8","1494b571.30d92b"]]},{"id":"d76ab627.fb63f8","type":"debug","z":"4eb87a0f.8ef374","name":"Read LED status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":453.0000686645508,"y":1068.0001955032349,"wires":[]},{"id":"cbf30e30.3b0a9","type":"debug","z":"4eb87a0f.8ef374","name":"View JSON Object","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610.9999847412109,"y":649.0000085830688,"wires":[]},{"id":"3280945c.ffc3cc","type":"json","z":"4eb87a0f.8ef374","name":"String => JSON","property":"payload","action":"","pretty":false,"x":380.99998474121094,"y":689.0000085830688,"wires":[["49aaf0b.a65421","cbf30e30.3b0a9"]]},{"id":"8e53deee.b21c8","type":"function","z":"4eb87a0f.8ef374","name":"Insert note into MySQL DB","func":"msg.topic = \"INSERT into notes(item, category, created_at) values ('\"+msg.note+\"','\"+msg.category+\"', CURRENT_TIMESTAMP())\"\n\nreturn msg;","outputs":1,"noerr":0,"x":880.9999847412109,"y":689.0000085830688,"wires":[["22e58b3d.4a59f4"]]},{"id":"22e58b3d.4a59f4","type":"mysql","z":"4eb87a0f.8ef374","mydb":"f1dc3426.b079b8","name":"Connect to MySQL DB","x":1160.999984741211,"y":689.0000085830688,"wires":[[]]},{"id":"1494b571.30d92b","type":"debug","z":"4eb87a0f.8ef374","name":"View separated 'note'","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":860.9999847412109,"y":649.0000085830688,"wires":[]},{"id":"70aac68e.471d28","type":"function","z":"4eb87a0f.8ef374","name":"Select all notes from MySQL 'notes' Table","func":"msg.topic = \"SELECT id, item, category FROM notes\"\n\nreturn msg;","outputs":1,"noerr":0,"x":520.9999847412109,"y":909.0000085830688,"wires":[["79da3528.22d6ec"]]},{"id":"aa79b39c.e56b1","type":"debug","z":"4eb87a0f.8ef374","name":"Get all notes from MySQL DB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1050.999984741211,"y":809.0000085830688,"wires":[]},{"id":"406dab36.3cf914","type":"mqtt out","z":"4eb87a0f.8ef374","name":"Send user's notes via MQTT","topic":"user/notes/from-node-red","qos":"1","retain":"","broker":"c05f5380.58e8","x":1060.999984741211,"y":969.0000085830688,"wires":[]},{"id":"79da3528.22d6ec","type":"mysql","z":"4eb87a0f.8ef374","mydb":"f1dc3426.b079b8","name":"Connect to MySQL DB","x":800.9999847412109,"y":909.0000085830688,"wires":[["aa79b39c.e56b1","13291a56.2a07e6"]]},{"id":"13291a56.2a07e6","type":"json","z":"4eb87a0f.8ef374","name":"JSON => String","property":"payload","action":"","pretty":false,"x":1020.9999847412109,"y":909.0000085830688,"wires":[["406dab36.3cf914"]]},{"id":"3f9ffaab.9a2146","type":"mqtt in","z":"4eb87a0f.8ef374","name":"Wait for VA's command to get notes","topic":"user/notes/get","qos":"2","broker":"c05f5380.58e8","x":180.99998474121094,"y":849.0000085830688,"wires":[["af061b07.b2d538","14855509.25742b"]]},{"id":"af061b07.b2d538","type":"switch","z":"4eb87a0f.8ef374","name":"If VA Publishes 'yes' in 'user/notes/get' Topic","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530.9999847412109,"y":849.0000085830688,"wires":[["70aac68e.471d28"]]},{"id":"14855509.25742b","type":"debug","z":"4eb87a0f.8ef374","name":"Get command status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":460.99998474121094,"y":809.0000085830688,"wires":[]},{"id":"c7ac1af8.966648","type":"mqtt in","z":"4eb87a0f.8ef374","name":"Turn on/off Buzzer using MQTT","topic":"house/livingroom/buzzer","qos":"2","broker":"c05f5380.58e8","x":170.99998474121094,"y":1309.0000085830688,"wires":[["d46c5bd.d2810a8","98b1d48a.162c48","e446caef.0ed878"]]},{"id":"d46c5bd.d2810a8","type":"debug","z":"4eb87a0f.8ef374","name":"Debug Buzzer Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":459.66673278808594,"y":1370.6670751571655,"wires":[]},{"id":"b4f904fc.728488","type":"mqtt in","z":"4eb87a0f.8ef374","name":"Dim LED using MQTT","topic":"house/livingroom/lights-pwm-1","qos":"2","broker":"c05f5380.58e8","x":140.3333282470703,"y":1151.6667985916138,"wires":[["fdc88c88.f059e","86192232.75214","3dc732ce.5b98ce"]]},{"id":"fdc88c88.f059e","type":"debug","z":"4eb87a0f.8ef374","name":"Read LED status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":450.3334197998047,"y":1209.000394821167,"wires":[]},{"id":"7f8d666d.fa0808","type":"mqtt in","z":"4eb87a0f.8ef374","name":"Listen for DHT Query","topic":"house/livingroom/dht-query","qos":"2","broker":"c05f5380.58e8","x":140.99998474121094,"y":1509.0000085830688,"wires":[["db316bc3.ad9dd8","d4b638eb.6c92c8"]]},{"id":"de9baab9.dd6718","type":"mqtt out","z":"4eb87a0f.8ef374","name":"Return DHT Data","topic":"house/livingroom/dht-get","qos":"","retain":"","broker":"c05f5380.58e8","x":769.9999847412109,"y":1508.0000085830688,"wires":[]},{"id":"d4b638eb.6c92c8","type":"debug","z":"4eb87a0f.8ef374","name":"Debug Query Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":380.99998474121094,"y":1549.0000085830688,"wires":[]},{"id":"ee4329c8.ef3a48","type":"debug","z":"4eb87a0f.8ef374","name":"Debug DHT Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770.9999847412109,"y":1569.0000085830688,"wires":[]},{"id":"db316bc3.ad9dd8","type":"switch","z":"4eb87a0f.8ef374","name":"Handle DHT Query","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":367.50000762939453,"y":1508.333342552185,"wires":[["30456d4e.d71332"]]},{"id":"b29da971.2476b8","type":"ui_led","z":"4eb87a0f.8ef374","order":0,"group":"1a69a658.bb486a","width":"6","height":"4","label":"","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"#ff0000","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"LED Status","x":430.99998474121094,"y":1109.0000085830688,"wires":[]},{"id":"da33f172.f814a","type":"ui_gauge","z":"4eb87a0f.8ef374","name":"","group":"22d23c2f.45d7f4","order":1,"width":"6","height":"4","gtype":"gage","title":"Temperature","label":"deg C","format":"{{value}}","min":"21","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"24","seg2":"27","x":691,"y":149,"wires":[]},{"id":"65524de.f03c4b4","type":"ui_text","z":"4eb87a0f.8ef374","group":"2fa0bd3.9cdee42","order":1,"width":"6","height":"3","name":"Dim Mode","label":"","format":"{{msg.payload}}","layout":"col-center","x":710.9999847412109,"y":1249.0000085830688,"wires":[]},{"id":"98b1d48a.162c48","type":"ui_led","z":"4eb87a0f.8ef374","order":0,"group":"7eba66cc.d4d398","width":"6","height":"3","label":"","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"#ff0000","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Alarm Buzzer Status","x":460.3332977294922,"y":1404.9998903274536,"wires":[]},{"id":"86192232.75214","type":"function","z":"4eb87a0f.8ef374","name":"Determine Name of Dim Mode","func":"if (msg.payload == \"10\") {\n    msg.payload = \"Sleep Mode\"\n}\n\nelse {\n    msg.payload = \"Normal Mode\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":490.99998474121094,"y":1249.0000085830688,"wires":[["65524de.f03c4b4"]]},{"id":"7c409cc6.548974","type":"ui_template","z":"4eb87a0f.8ef374","group":"16b03cd6.ca2fa3","name":"Google Maps","order":3,"width":"6","height":"8","format":"<!DOCTYPE html>\n<html>\n  <head>\n    <style>\n       /* Set the size of the div element that contains the map */\n      #map {\n        height: 100%;  /* The height is 400 pixels */\n        width: 100%;  /* The width is the width of the web page */\n       }\n    </style>\n  </head>\n  <body>\n\n    <!--The div element for the map -->\n    <div id=\"map\"></div>\n \n\n<script>  \n\nvar latitude;\nvar longitude;\n\n(function(scope) {\n        //Have to use $watch so we pick up new, incoming msg's\n        scope.$watch('msg.payload', function() {\n\n        initMap(scope.msg.payload)     \n            \n        })\n\n\n    })(scope)\n    \n\n\n\n// // // Initialize and add the map\n function initMap(data) {\n\n  \n  var latitude = data.latitude\n  var longitude = data.longitude\n  \n  console.log(latitude);\n  console.log(longitude);\n  \n  var singapore = {lat:latitude , lng: longitude };\n\n\n  var map = new google.maps.Map(\n      document.getElementById('map'), {zoom: 18, center: singapore, mapTypeId: 'satellite'});\n\n  var marker = new google.maps.Marker({position: singapore, map: map});\n}\n\n    </script>\n\n    <script async defer\n    src=\"https://maps.googleapis.com/maps/api/js?key=AIzaSyCPTZti6EjAgnAAOFvwji5Jg3sv-coakDM&callback=initMap\">\n    </script>\n\n  </body>\n</html>\n\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":850.9999847412109,"y":1729.0000085830688,"wires":[["3278d991.0fbbc6"]]},{"id":"3278d991.0fbbc6","type":"debug","z":"4eb87a0f.8ef374","name":"Debug Location Coordinates","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1060.999984741211,"y":1729.0000085830688,"wires":[]},{"id":"fdec1767.aafe28","type":"debug","z":"4eb87a0f.8ef374","name":"Debug Destination Info","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":420.99998474121094,"y":1789.0000085830688,"wires":[]},{"id":"daa1442a.913908","type":"mqtt in","z":"4eb87a0f.8ef374","name":"Get Destination Coordinates","topic":"user/dashboard/maps","qos":"2","broker":"f6a4073d.662e38","x":160.99998474121094,"y":1729.0000085830688,"wires":[["fdec1767.aafe28","b7724720.c69da8"]]},{"id":"b7724720.c69da8","type":"json","z":"4eb87a0f.8ef374","name":"String => JSON","property":"payload","action":"","pretty":false,"x":400.99998474121094,"y":1729.0000085830688,"wires":[["5804a46c.571e9c","25eb6f96.160b7"]]},{"id":"5804a46c.571e9c","type":"debug","z":"4eb87a0f.8ef374","name":"View JSON Object","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610.9999847412109,"y":1669.0000085830688,"wires":[]},{"id":"25eb6f96.160b7","type":"function","z":"4eb87a0f.8ef374","name":"Get Destination Coordinates","func":"latFromJSON = msg.payload[0][\"geometry\"][\"location\"][\"lat\"];\nlongFromJSON = msg.payload[0][\"geometry\"][\"location\"][\"lng\"];\n\nvar latitude = latFromJSON;\nvar longitude = longFromJSON;\n\n\nmsg.payload = {latitude, longitude}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":640.9999847412109,"y":1729.0000085830688,"wires":[["7c409cc6.548974"]]},{"id":"799f9c63.81abd4","type":"mqtt in","z":"4eb87a0f.8ef374","name":"Get Song Name from VA","topic":"user/songs/to-node-red","qos":"2","broker":"f6a4073d.662e38","x":150.99998474121094,"y":1949.0000085830688,"wires":[["3e3e782a.33c4a8","5318f08f.c9104"]]},{"id":"5318f08f.c9104","type":"debug","z":"4eb87a0f.8ef374","name":"Get command status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":400.99998474121094,"y":1929.0000085830688,"wires":[]},{"id":"3e3e782a.33c4a8","type":"function","z":"4eb87a0f.8ef374","name":"Get song path from MySQL 'songs' Table","func":"msg.topic = \"SELECT name, artist, path, video_id FROM songs WHERE name = \" + \"'\" + msg.payload + \"'\"\n\nreturn msg;","outputs":1,"noerr":0,"x":460.99998474121094,"y":1969.0000085830688,"wires":[["2053ea9b.ca5556"]]},{"id":"2053ea9b.ca5556","type":"mysql","z":"4eb87a0f.8ef374","mydb":"f1dc3426.b079b8","name":"Connect to MySQL DB","x":521.0000152587891,"y":2049.0000610351562,"wires":[["6e7a3d97.773af4","40ed56bd.c0a908","9c5bb05.aa7ad5"]]},{"id":"40ed56bd.c0a908","type":"json","z":"4eb87a0f.8ef374","name":"JSON => String","property":"payload","action":"","pretty":false,"x":780.9999847412109,"y":1989.0000085830688,"wires":[["e5e5e30a.d0f8e"]]},{"id":"e5e5e30a.d0f8e","type":"mqtt out","z":"4eb87a0f.8ef374","name":"Send song info to VA via MQTT","topic":"user/songs/from-node-red","qos":"1","retain":"","broker":"c05f5380.58e8","x":1070.999984741211,"y":1989.0000085830688,"wires":[]},{"id":"6e7a3d97.773af4","type":"debug","z":"4eb87a0f.8ef374","name":"Get song info from MySQL DB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830.9999847412109,"y":1929.0000085830688,"wires":[]},{"id":"9c5bb05.aa7ad5","type":"function","z":"4eb87a0f.8ef374","name":"Separate Song Info","func":"msg.name = msg.payload[0][\"name\"]\nmsg.path = msg.payload[0][\"path\"]\nmsg.artist = msg.payload[0][\"artist\"]\nmsg.videoid = msg.payload[0][\"video_id\"]\n\nmsg.videoidPath = 'https://img.youtube.com/vi/' + msg.videoid + '/maxresdefault.jpg'\n\nreturn msg;","outputs":1,"noerr":0,"x":790.9999847412109,"y":2049.000008583069,"wires":[["e7386b01.288428"]]},{"id":"e7386b01.288428","type":"ui_template","z":"4eb87a0f.8ef374","group":"f22a3a24.8ab9b8","name":"Display Current Song","order":5,"width":"6","height":"4","format":"<html>\n<head>\n    <style>\n        img {\n          display: block;\n          margin-left: auto;\n          margin-right: auto;\n          width: 40%;\n        }\n        \n        .songArtist {\n            font-weight:bold;\n            text-align:center;\n        }\n        \n        .songName {\n            text-align:center;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"wrap\"> \n       <div class = \"songArtist\" data-percent = \"{{msg.artist}}\"> \n          <span>{{msg.artist}}</span> \n       </div> \n    </div>\n    \n    <div class=\"wrap\"> \n       <div class = \"songName\" data-percent = \"{{msg.name}}\"> \n          <span>{{msg.name}}</span> \n       </div> \n    </div>\n    \n    <p>\n    <img src = {{msg.videoidPath}} alt = 'Song Thumbnail'/>\n    </p>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1040.999984741211,"y":2049.000008583069,"wires":[[]]},{"id":"343ceb01.afba14","type":"rpi-dht22","z":"4eb87a0f.8ef374","name":"","topic":"DHT22","dht":22,"pintype":1,"pin":"7","x":317.50000762939453,"y":228.75000667572021,"wires":[["c2ca1a43.880638","447e7ee3.2730b","da33f172.f814a","c3acce06.2058f","e0f89512.99e258"]]},{"id":"30456d4e.d71332","type":"rpi-dht22","z":"4eb87a0f.8ef374","name":"","topic":"DHT22","dht":22,"pintype":1,"pin":"7","x":567.5000648498535,"y":1507.5000438690186,"wires":[["de9baab9.dd6718","ee4329c8.ef3a48"]]},{"id":"e446caef.0ed878","type":"rpi-gpio out","z":"4eb87a0f.8ef374","name":"Buzzer","pin":"11","set":true,"level":"0","freq":"","out":"out","x":410.0000114440918,"y":1327.5000381469727,"wires":[]},{"id":"bd34b3b7.d05a4","type":"rpi-gpio out","z":"4eb87a0f.8ef374","name":"Green LED","pin":"37","set":true,"level":"0","freq":"","out":"out","x":432.5000114440918,"y":1016.2500343322754,"wires":[]},{"id":"3dc732ce.5b98ce","type":"rpi-gpio out","z":"4eb87a0f.8ef374","name":"Red LED","pin":"13","set":false,"level":"0","freq":"","out":"pwm","x":417.5,"y":1164.75,"wires":[]},{"id":"2281cc26.c67534","type":"ui_group","z":"","name":"Charts","tab":"2eaef855.12df68","order":1,"disp":true,"width":"6","collapse":false},{"id":"22d23c2f.45d7f4","type":"ui_group","name":"Gauges","tab":"2eaef855.12df68","order":2,"disp":true,"width":"6","collapse":false},{"id":"c05f5380.58e8","type":"mqtt-broker","z":"","name":"IOTP Group 7's MQTT Broker","broker":"iotp03g7.mosquitto.local","port":"8888","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f1dc3426.b079b8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"ep0403","tz":""},{"id":"1a69a658.bb486a","type":"ui_group","z":"","name":"Living Room Lights","tab":"2eaef855.12df68","order":3,"disp":true,"width":"6","collapse":false},{"id":"2fa0bd3.9cdee42","type":"ui_group","name":"Dim Mode","tab":"2eaef855.12df68","order":6,"disp":true,"width":"6","collapse":false},{"id":"7eba66cc.d4d398","type":"ui_group","z":"","name":"Alarm Status","tab":"2eaef855.12df68","order":7,"disp":true,"width":"6","collapse":false},{"id":"16b03cd6.ca2fa3","type":"ui_group","name":"Location Preview","tab":"2eaef855.12df68","order":1,"disp":true,"width":"6","collapse":false},{"id":"f6a4073d.662e38","type":"mqtt-broker","z":"","name":"IOTP Group 7's MQTT Broker","broker":"iotp03g7.mosquitto.local","port":"8888","tls":"1be54b8f.a7ea14","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f22a3a24.8ab9b8","type":"ui_group","name":"Now Playing","tab":"2eaef855.12df68","order":1,"disp":true,"width":"6","collapse":false},{"id":"2eaef855.12df68","type":"ui_tab","z":"","name":"Home [Main]","icon":"dashboard"},{"id":"1be54b8f.a7ea14","type":"tls-config","name":"IOTP Group 7's MQTT TLS v1.2 Config","cert":"","key":"","ca":"","certname":"mosquitto-server.crt","keyname":"mosquitto-server-nopass.key","caname":"mosquitto-ca.crt","verifyservercert":false}]